*{
  box-sizing: border-box;
}

.container{
  --column-count: 12;
  --gutter-size: 1rem;
  width: 100%;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.row > *{
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
}

.col-1{
  --width: calc(100% / (var(--column-count)) * 1);
  flex-basis: var(--width);
  max-width: var(--width);
}

.col-2{
  --width: calc(100% / (var(--column-count)) * 2);
  flex-basis: var(--width);
  max-width: var(--width);
}

.col-3{
  --width: calc(100% / (var(--column-count)) * 3);
  flex-basis: var(--width);
  max-width: var(--width);
}

.col-4{
  --width: calc(100% / (var(--column-count)) * 4);
  flex-basis: var(--width);
  max-width: var(--width);
}

.col-5{
  --width: calc(100% / (var(--column-count)) * 5);
  flex-basis: var(--width);
  max-width: var(--width);
}

.col-6{
  --width: calc(100% / (var(--column-count)) * 6);
  flex-basis: var(--width);
  max-width: var(--width);
}

.col-7{
  --width: calc(100% / (var(--column-count)) * 7);
  flex-basis: var(--width);
  max-width: var(--width);
}

.col-8{
  --width: calc(100% / (var(--column-count)) * 8);
  flex-basis: var(--width);
  max-width: var(--width);
}

.col-9{
  --width: calc(100% / (var(--column-count)) * 9);
  flex-basis: var(--width);
  max-width: var(--width);
}

.col-10{
  --width: calc(100% / (var(--column-count)) * 10);
  flex-basis: var(--width);
  max-width: var(--width);
}

.col-11{
  --width: calc(100% / (var(--column-count)) * 11);
  flex-basis: var(--width);
  max-width: var(--width);
}

.col-12{
  --width: calc(100% / (var(--column-count)) * 12);
  flex-basis: var(--width);
  max-width: var(--width);
}