*{
  box-sizing: border-box;
}

.header-content{
  border: 1px solid red;
  padding-bottom: 15px;
}

.header-row{
  align-items: center;
}

.logo{
  font-family: 'Revalia', cursive;
  font-size: 3rem;
  color: #34547A;
}

.nav-bar > ul{
  display: flex;
  justify-content: space-between;
}

.list-item{
  font-weight: 500;
  text-transform: uppercase;
}